body {
  background-color: #14120b;
  color: white;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  max-width: 82rem;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.nav-logo-container a {
  display: flex;
  justify-content: space-around;
  height: 0.5rem;
  background-color: #fff;
}

.nav-logo-container svg {
  width: 2rem;
}

.nav-center-container ul {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.nav-center-container li {
  padding: 0.5rem;
  list-style-type: none;
}

.nav-right-container a {
  padding: 0.5rem;
  text-decoration: none;
  border: 1px solid #ffff;
  border-radius: 1rem;
  text-align: center;
  color: #fff;
  padding-left: 1rem;
  padding-right: 1rem;
}
