body {
  background-color: #14120b;
  color: white;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  max-width: 82rem;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.nav-logo-container a {
  display: flex;
  justify-content: space-around;
  height: 1rem;
  background-color: #fff;
}

.nav-logo-container svg {
  width: 2rem;
}

.nav-center-container ul {
  display: flex;
  justify-content: space-around;
}

.nav-center-container li {
  padding: 1rem;
  list-style-type: none;
}

.nav-right-container a {
  padding: 1rem;
}
