:root {
  /* fonts */
  --font-primary:
    CursorGothic, 'CursorGothic Fallback', system-ui, -apple-system,
    BlinkMacSystemFont, sans-serif;

  /* backgrounds */

  /* text */

  /* borders */

  /* radius */
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  background-color: #14120b;
  color: rgb(237, 236, 236);

  margin: 0;
  padding: 0;

  font-family: var(--font-primary);
  font-weight: 400;
}

header {
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: #14120b;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  /* justify-content: center; */
  font-size: 14px;
  font-weight: 400;
  height: 51px;
}

.container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.nav-logo-container {
  justify-self: start;
}

.nav-logo-container a {
  display: flex;
  justify-content: space-around;
}

.logo {
  width: 95px;
  height: 23px;
  transform: translateX(-2px);
}

.nav-center-container {
  display: flex;
  justify-content: center;
  justify-self: center;
  height: 50px;
}

.nav-center-container ul {
  display: flex;
  justify-content: space-around;
  margin-left: 0;
  padding-left: 0;
}

.nav-center-container li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  list-style-type: none;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.14px;
}

.nav-right-container {
  display: flex;
  gap: 7.5px;
  align-items: center;
  justify-self: end;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 10.5px;
  padding-right: 10.5px;
  height: 27px;
  font-size: 14px;

  border-radius: 9999px;
  text-decoration: none;

  transition: all 0.2s ease;
}

.btn-outline {
  color: #edecec;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.btn-primary {
  background-color: #edecec;
  color: #14120b;
  width: 66px;
}

.hero {
  padding-top: 112px;
  padding-bottom: 67.2px;
  margin-bottom: 0;
}

.hero-text {
  margin: 0;
  font-size: 26px;
  line-height: 32.5px;
  font-weight: 400;
  letter-spacing: -0.325px;
  color: rgb(237, 236, 236);
  margin-bottom: 22.4px;
  text-wrap-mode: initial;
  text-wrap-style: balance;
  width: 40rem;
}

.hero-intro {
  margin-bottom: 56px;
}

.hero-download-btn {
  padding-bottom: 0;
  margin-bottom: 0;
  width: 40rem;
  height: 50px;
}

.hero-download-btn a {
  display: flex;
  width: fit-content;
  border-radius: 3.40282e38px;
  padding-left: 21.6px;
  padding-right: 21.6px;
  margin-bottom: 7.4px;
  background-color: rgb(237, 236, 236);
  color: rgb(20, 18, 11);
  font-size: 16px;
  align-items: center;
  height: 42px;
}

.hero-download-btn span {
  padding-left: 4px;
}

.hero-image-container {
  position: relative;
  width: 1300px;
}

.hero-bg-img {
  display: block;
  width: 100%;
  height: 680px;
}

.hero-fg-img {
  position: absolute;
  inset: 0;
  width: 80%;
  margin: auto;
  height: 90%;
}

.trusted {
  padding-bottom: 33.6px;
  margin-top: 0;
}

.trusted-text {
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 22.4px;
  height: 20px;
  letter-spacing: 0.14px;
}

.trusted-software-list {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
}

.software {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 7.5px;
  padding-right: 7.5px;
  line-height: 24px;
  height: 100px;
  background-color: rgb(27, 25, 19);
}

.software img {
  height: 40px;
  width: auto;
}

.feature {
  padding-top: 67.2px;
  padding-bottom: 67.2px;
}

.agent-code {
  /* padding-top: 67.2px; */
  margin-bottom: 89.6px;
}

.agent-outer {
  background-color: rgb(27, 25, 19);
  height: 680px;
  padding: 17.5px;
  display: flex;
  gap: 10px;
}

.agent-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2.5px;
  padding-right: 30px;
  flex: 0 0 340.5px;
}

.agent-title {
  font-size: 22px;
  line-height: 28.6px;
  font-weight: 400;
  margin: 0;
  letter-spacing: -0.11px;
}

.agent-description {
  font-size: 22px;
  width: 382px;
  line-height: 28.6px;
  font-weight: 400;
  color: rgba(237, 236, 236, 0.6);
  letter-spacing: -0.11px;
  text-wrap-mode: wrap;
  text-wrap-style: pretty;
}

.agent-link {
  margin-top: 14.9333px;
}

.btn-territory {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: rgb(245, 78, 0);
  line-height: 24px;
  /* width: 263.88px; */
}

.agent-image-box {
  background-color: rgba(66, 60, 52, 1);
  width: 100%;
  position: relative;
}

.agent-image {
  position: absolute;

  inset: 39px 0 40px auto;
  /* top | right | bottom | left */

  width: auto;
  max-width: 96%;
  height: auto;

  z-index: 10;
}

/*shs*/
.autocomplete {
  margin-bottom: 89.6px;
}

.autocomplete-outer {
  background-color: rgb(27, 25, 19);
  height: 650px;
  padding: 17.5px;
  display: flex;
  gap: 10px;
}

.autocomplete-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 30px;
  padding-right: 2.5px;
  flex: 0 0 382.5px;
  /* border: 2px solid red; */
}

.autocomplete-title {
  font-size: 22px;
  line-height: 28.6px;
  font-weight: 400;
  margin: 0;
  letter-spacing: -0.11px;
}

.autocomplete-description {
  font-size: 22px;
  line-height: 28.6px;
  font-weight: 400;
  color: rgba(237, 236, 236, 0.6);
  letter-spacing: -0.11px;
  text-wrap-mode: wrap;
  text-wrap-style: pretty;
}

.autocomplete-link {
  margin-top: 14.9333px;
}

.autocomplete-btn-territory {
  display: inline-flex;
  color: rgb(245, 78, 0);
  line-height: 24px;
  align-items: center;
  text-align: left;
}

.autocomplete-image-box {
  flex: 1;
  min-width: 0;
  overflow: hidden;
  width: 100%;
  position: relative;
  width: auto;
}

.autocomplete-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.autocomplete-feature2-fg {
  position: absolute;
  width: 81%;
  margin: auto;
  height: 560px;
  inset: 0;
}

/*agag*/

.everywhere {
  /* padding-top: 67.2px; */
}

.everywhere-outer {
  background-color: rgb(27, 25, 19);
  height: 650px;
  padding: 17.5px;
  display: flex;
  gap: 10px;
}

.everywhere-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2.5px;
  padding-right: 30px;
  flex: 0 0 340.5px;
}

.everywhere-title {
  font-size: 22px;
  line-height: 28.6px;
  font-weight: 400;
  margin: 0;
  letter-spacing: -0.11px;
}

.everywhere-description {
  font-size: 22px;
  width: 383px;
  line-height: 28.6px;
  font-weight: 400;
  color: rgba(237, 236, 236, 0.6);
  letter-spacing: -0.11px;
  text-wrap-mode: wrap;
  text-wrap-style: pretty;
}

.everywhere-link {
  margin-top: 14.9333px;
}

.btn-territory {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: rgb(245, 78, 0);
  line-height: 24px;
  width: 263.88px;
}

.everywhere-image-box {
  width: 100%;
  height: 100%;
  position: relative;
}

.everywhere-image {
  position: absolute;

  inset: 0;

  width: auto;
  max-width: 100%;
  height: 100%;
}

.reviews {
  padding-top: 67.2px;
  padding-bottom: 67.2px;
}

.reviews-title {
  text-align: center;
  font-size: 36px;
  line-height: 43.2px;
  height: 43.2031px;
  letter-spacing: -0.72px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 56px;
}

.reviews-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  /* padding-top: 52px; */
}

.review {
  max-width: 391px;
  padding: 17.5px;
  background-color: rgb(27, 25, 19);
  display: flex;
  flex-direction: column;
}

.block-quote {
  flex-grow: 1;
  width: 100%;
}

.review-text {
  text-wrap-mode: wrap;
  text-wrap-style: pretty;
  letter-spacing: 0.08px;
  line-height: 24px;
  color: rgb(237, 236, 236);
  width: 100%;
}

.review-profile-container {
  width: 100%;
  display: flex;
  margin-top: 44.8px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.profile-pic {
  height: 40px;
  width: 40px;
  margin-right: 12.8px;
}

.profile-image {
  width: 100%;
  height: 100%;
}

.profile-info {
  font-size: 14px;
  letter-spacing: 0.14px;
  line-height: 21px;
}

.profile-role {
  color: rgba(237, 236, 236, 0.6);
}

.frontier {
  padding-top: 67.2px;
  padding-bottom: 67.2px;
}

.frontier-title {
  margin-top: 44.8px;
}

.frontier-title h2 {
  font-size: 26px;
  font-weight: 400;
  letter-spacing: -0.325px;
  line-height: 24px;
  width: 486.144px;
  padding: 0;
  margin-bottom: 22.5px;
  line-height: 32.5px;
}

.frontier-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.frontier-grid-child {
  background-color: rgb(27, 25, 19);
  padding: 17.5px;
  padding-top: 15px;
  height: 519px;
}

.frontier-text-title {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.08px;
  line-height: 24px;
  margin: 0;
}

.frontier-text {
  color: rgba(237, 236, 236, 0.6);
  line-height: 24px;
  letter-spacing: 0.08px;
}

.frontier-cta-btn {
  color: rgb(245, 78, 0);
  padding-top: 14.9333px;
}

.frontier-cta-btn a {
  letter-spacing: 0.08px;
  height: 35px;
}

.frontier-grid-child-lower {
  width: 100%;
  padding-top: 17.5px;
}

.frontier-image {
  width: 100%;
  display: block;
}

/*changelog*/

.changelog {
  padding-top: 67.2px;
  padding-bottom: 67.2px;
}

.changelog h2 {
  font-size: 26px;
  font-weight: 400;
  letter-spacing: -0.325px;
  line-height: 32.5px;
}

.changelog-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.changelog-child {
  background-color: rgb(27, 25, 19);
  padding: 17.5px;
}

.article-date {
  left: -1px;
  line-height: 24px;
  color: rgba(237, 236, 236, 0.6);
}

.article-date span {
  font-size: 14px;
  letter-spacing: 0.14px;
  padding-left: 9.1px;
  padding-right: 9.1px;
  padding-top: 3.92px;
  padding-bottom: 4.06px;
  border: 0 solid;
}

.article-date time {
  letter-spacing: 0.08px;
}

.article-text {
  margin-top: 13.0667px;
  color: rgb(237, 236, 236);
  letter-spacing: 0.08px;
  line-height: 24px;
}

.changelog-cta {
  display: inline-block;
  color: rgb(245, 78, 0);
  margin-top: 22.4px;
}

.joinus {
  padding-top: 67.2px;
  padding-bottom: 67.2px;
}

.joinus-box {
  background-color: rgb(27, 25, 19);
  padding: 17.2px;
  display: flex;
}

.joinus-text {
  max-width: 414px;
  padding-left: 2.5px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.joinus-h3 {
  color: rgb(237, 236, 236);
  font-size: 22px;
  line-height: 28.6px;
  letter-spacing: -0.11px;
  font-weight: 400;
  width: 100%;
  text-wrap-mode: wrap;
  text-wrap-style: pretty;
}
.joinus-text a {
  color: rgb(245, 78, 0);
}

.joinus-img-container {
  width: 100%;
}

.joinus-img {
  width: 100%;
}

/*highlights*/

.highlights {
  background-color: rgb(27, 25, 19);
  margin-top: 67.2px;
  padding-bottom: 89.6px;
  padding-top: 89.6px;
}

.highlights-box {
  min-width: 1300px;
  padding-left: auto;
  padding-right: auto;
  display: flex;
  height: 482.747px;
}

.highlights-title-box {
  width: 325px;
}

.highlights-title {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.08px;
  line-height: 24px;
  top: 64px;
  padding: 0;
}

.highlights-content {
  width: 650px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.highlights-content article {
  background-color: rgb(32, 30, 24);
  padding: 15px;
  padding-top: 13.4px;
}

.highlights-text-title {
  padding: 0;
  margin: 0;
}

.highlights-text-p {
  color: rgba(237, 236, 236, 0.6);
  margin: 0;
  padding: 0;
}

.highlights-article-footer {
  display: flex;
  align-items: center;
  color: rgba(237, 236, 236, 0.6);
  margin-top: 22.4px;
  padding: 0;
}

.highlights-article-footer p {
  padding: 0;
  margin: 0;
  margin-right: 4px;
}

.more-posts-cta {
  color: rgb(245, 78, 0);
}

.try-cursor {
  padding-top: 134.4px;
  padding-bottom: 134.4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cursor-big {
  font-size: 72px;
  letter-spacing: -2.16px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 22.4px;
}

.footer {
  background-color: rgb(27, 25, 19);
  padding-top: 67.2px;
  padding-bottom: 30px;
}

.footer-navlinks-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-bottom: 100.8px;
}

.footer-navlinks-child {
  align-items: left;
}

.footer-navlinks-child h3 {
  color: rgba(237, 236, 236, 0.6);
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 4.66667px;
}

.footer-navlinks-child ul {
  padding: 0;
  margin: 0;
}

.footer-navlinks-child li {
  list-style-type: none;
  font-size: 14px;
  font-weight: 400;
  padding-top: 4.66667px;
  padding-bottom: 4.66667px;
  height: 20.97916px;
}

.footer-credits-container {
  display: flex;
  justify-content: space-between;
}

.credits-left {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 14px;

  color: rgba(237, 236, 236, 0.6);
}

.credits-right {
  display: flex;
  gap: 20px;
}

.mode {
  display: flex;
  /* width: 109.818px;   */
  height: 29.4531px;
  font-size: 14px;
  border-radius: 9999px;
  background-color: rgb(38, 36, 30);
}

.mode button {
  background-color: rgb(38, 36, 30);
  color: rgba(237, 236, 236, 0.6);
  margin: 0;
  border: none;
  padding-left: 10.5px;
  padding-right: 10.5px;
  padding-top: 5.88px;
  padding-right: 5.88px;
  border-radius: 9999px;
}

.mode-span {
  padding-bottom: 0;
  margin-bottom: 0;
}

.mode-span svg {
  /* background-color: #14120b; */
  /* width: 23.9974px;
  height: auto;
  font-size: 14px;
  line-height: 0.14px; */
  width: 14px;
  height: 14px;
  padding-bottom: 0;
  align-items: center;
  justify-content: center;
}

.language {
}

.globe {
  /* height: 13.9974px; */
  width: 13px;
  height: 13px;
  /* padding-bottom: 0; */
}

.language button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 104px;
  height: 28px;
  gap: 4px;
  background-color: rgb(38, 36, 30);
  color: rgb(237, 236, 236);
  font-size: 13px;
  border: none;
  padding-left: 10.5px;
  padding-right: 10.5px;
  padding-top: 5.8px;
  padding-bottom: 5.8px;
  border-radius: 9999px;
}

.lang-word {
  font-size: 14px;
  font-weight: 400;
}

.lang-span {
  width: 10px;
  height: 13px;
}
