:root {
  /* fonts */
  --font-primary:
    CursorGothic, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;

  /* backgrounds */

  /* text */

  /* borders */

  /* radius */
}

body {
  background-color: #14120b;
  color: white;
  margin: 0;
  padding: 0;

  font-family: var(--font-primary);
  font-weight: 400;
}

header {
}

.navbar {
  display: flex;
  justify-content: space-between;
  /* width: 1671.67px; */
  align-items: center;
  font-size: 14px;
  /* font-weight: 400; */
}

.container {
  max-width: 82rem;
  margin-left: auto;
  margin-right: auto;
}

.nav-logo-container a {
  display: flex;
  justify-content: space-around;
  height: 0.5rem;
  background-color: #fff;
}

.nav-logo-container svg {
  width: 2rem;
}

.nav-center-container {
  line-height: 21px;
}

.nav-center-container ul {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.nav-center-container li {
  padding: 0.5rem;
  list-style-type: none;
}

.nav-right-container a {
  padding-top: 0.4em;
  padding-bottom: 0.42em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  text-decoration: none;
  border: 1px solid #ffff;
  border-radius: 3.40282e38px;
  text-align: center;
  color: #edecec;
}

.download-btn {
  background-color: rgb(237, 236, 236);
  color: #14120b;
}

.agents-hero {
  padding-top: 112px;
}

.hero-caption {
  font-size: 16px;
  color: rgba(237, 236, 236, 0.6);
  line-height: 24px;
  padding: 0;
  margin: 0;
}

.hero-title {
  margin: 0;
  font-size: 36px;
  line-height: 43.2px;
  font-weight: 400;
  letter-spacing: -0.72px;
  color: rgb(237, 236, 236);
}

.hero-description {
  color: rgba(237, 236, 236, 0.6);
  font-size: 36px;
  line-height: 43.2px;
  font-weight: 400;
  letter-spacing: -0.72px;
  text-wrap-mode: initial;
  text-wrap-style: balance;
}
